@media (max-width: 1518px) {
  .card__title {
    font-size: 20px;
  }
}

@media (max-width: 1470px) {
  .about__card {
    padding-left: 238px;
    background-position-x: 60px;
    background-position-y: 50%;
  }

  .about__card:first-child {
    background-image: url(../img/about768-1.svg);
  }

  .about__card:last-child {
    background-image: url(../img/about768-2.svg);
  }

  .card__descr {
    max-width: 400px;
  }

  .descr__text {
    width: 390px;
    font-weight: 400;
  }
}

@media (max-width: 1440px) {

  .about__content {
    max-width: 100%;
  }

  .about__card {
    padding-left: 200px;
  }

  .card__title {
    font-size: 18px;
  }
}

@media (max-width: 1269px) {

  .about__cardholder {
    min-height: 560px;
  }

  .header__link {
    font-size: 14px;
  }

  .about__content {
    gap: 10px;
  }

  .about__cardholder:not(:last-child) {
    padding-top: 364px;
  }

  .about__cardholder:last-child {
    gap: 32px;
  }

  .about__card {
    padding-left: 200px;
    min-height: 270px;
  }

  .card__title {
    font-size: 18px;
  }

  .card__descr {
    font-size: 12px;
    max-width: 340px;
  }

  .descr__text {
    font-weight: 500;
    font-size: 14px;
  }

  .descr__btn {
    width: 140px;
    font-size: 12px;
  }
}

@media (max-width: 1174px) {

  .about__descr {
    font-size: 14px;
  }

  .about__card {
    background-position-x: 30px;
    padding-left: 170px;
  }

  .descr__text {
    width: 270px;
    line-height: 200%;
    font-size: 12px;
  }
}

@media (max-width: 1024px) {
  .about {
    margin-top: 37px;
  }

  .about__descr {
    max-width: 950px;
    font-size: 16px;
  }

  .descr__text {
    width: 454px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.01em;
  }

  .descr__btn {
    width: 175px;
    font-size: 16px;
  }

  .about__content {
    flex-direction: column;
    min-height: 1354px;
    gap: 32px;
  }

  .about__cardholder {
    max-width: 924px;
    width: 100%;
  }

  .about__cardholder:not(:last-child) {
    min-height: 640px;
    margin-top: 58px;
    padding-top: 444px;
    background-image: url(../img/about1024-img.jpg);
  }

  .about__cardholder:last-child {
    min-height: 622px;
    margin-top: 0;
    gap: 32px;
  }

  .about__card {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    min-height: 295px;
    padding-left: 317px;
    background-position-x: 77px;
    background-position-y: 65px;
  }

  .about__card:not(:last-child) {
    background-image: url(../img/item_element_1.svg);
  }

  .about__card:last-child {
    background-image: url(../img/item_element_2.svg);
  }

  .card__title {
    width: 453px;
    font-size: 24px;
  }

  .card__descr {
    display: inline-block;
    max-width: 470px;
    font-size: 16px;
    font-weight: 300;
  }
}

@media (max-width: 838px) {

  .about__card {
    padding: 0 0 0 317px;
    justify-content: center;
  }

  .card__title {
    width: 400px;
  }

  .card__descr {
    max-width: 400px;
  }
}

@media (max-width: 768px) {
  .about {
    margin-top: 34px;
  }

  .about__content {
    min-height: 1244px;
    height: 1244px;
  }

  .about__cardholder {
    border-radius: 24px;
  }

  .about__cardholder:not(:last-child) {
    max-width: 668px;
    height: 650px;
    margin-top: 56px;
    padding-top: 454px;
    background-image: url(../img/about-bg768.jpg);
    background-repeat: no-repeat;
  }

  .about__cardholder:last-child {
    height: 502px;
    min-height: 502px;
  }

  .cardholder__descr {
    padding: 34px 40px;
    border-radius: 24px;
  }

  .descr__text {
    max-width: 366px;
    padding-top: 1px;
    line-height: 32px;
  }

  .descr__btn {
    width: 175px;
  }

  .about__card {
    max-width: 668px;
    height: 235px;
    min-height: 235px;
    padding-left: 170px;
    border-radius: 24px;
    background-size: 114px 99px;
    background-position-x: 40px;
    background-position-y: 68px;
  }

  .card__title {
    width: 453px;
  }

  .card__descr {
    max-width: 450px;
    min-height: 128px;
  }
}

@media (max-width: 640px) {
  .about__descr {
    max-width: 550px;
    font-size: 12px;
    line-height: 200%;
  }

  .descr__text {
    font-size: 12px;
    line-height: 20px;
  }

  .descr__btn {
    width: 160px;
  }

  .card__title {
    max-width: 600px;
    width: calc(100% / (640 / 600));
    font-size: 18px;
  }

  .card__descr {
    width: calc(100% / (640 / 500));
    font-size: 12px;
    line-height: 200%;
    height: auto;
  }
}

@media (max-width: 520px) {
  .about__content {
    display: none;
  }

  .about__content320 {
    display: flex;
    flex-direction: column;
    margin-top: 14px;
    gap: 32px;
  }

  .ill-1 {
    display: none;
  }

  .ill-2 {
    display: block;
  }

  .about__illustration {
    max-width: 490px;
    width: 100%;
    border-radius: 16px;
  }

  .descr__text {
    margin-top: 10px;
    width: calc(100% / (520 / 500));
    height: auto;
    font-size: 12px;
    line-height: 200%;
    font-weight: 300;
    color: var(--black);
  }

  .descr__btn {
    margin-top: 12px;
    margin-left: 0;
    width: 162px;
    height: 39px;
    border: 2px solid #FF9900;
    border-radius: 8px;
    font-size: 12px;
    line-height: 15px;
    color: #FF9900;
  }

  .about__content {
    height: auto;
  }

  .cardholder {
    height: auto;
  }

  .cardholder:last-child {
    flex-direction: column;
    gap: 32px;
  }

  .about__card {
    padding: 0;
    width: 100%;
    height: auto;
    border: none;
    background-color: transparent;
  }

  .about__card:first-child{
    background-image: none;
  }

  .about__card:last-child{
    background-image: none;
  }

  .card__title {
    margin-top: 12px;
    width: 100%;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.01em;
  }

  .card__descr {
    margin-top: 4px;
    font-size: 14px;
    line-height: 200%;
  }
}

@media (max-width: 320px) {
  .about {
    margin-top: 60px;
  }

  .about__descr {
    height: auto;
    font-size: 14px;
    line-height: 200%;
  }

  .about__content {
    display: none;
  }

  .about__content320 {
    display: flex;
    flex-direction: column;
    margin-top: 14px;
    gap: 32px;
  }

  .about__illustration {
    border-radius: 16px;
  }

  .descr__text {
    margin-top: 6px;
    width: 290px;
    min-height: 140px;
    font-size: 14px;
    line-height: 200%;
    font-weight: 300;
    color: var(--black);
  }

  .descr__btn {
    margin-top: 13px;
    margin-left: 0;
    width: 162px;
    height: 39px;
    border: 2px solid #FF9900;
    border-radius: 8px;
    font-size: 12px;
    line-height: 15px;
    color: #FF9900;
  }

  .about__card {
    padding: 0;
    width: 100%;
    height: 279px;
    background-color: transparent;
  }

  .about__card:first-child{
    background-image: none;
    min-height: 253px;
  }

  .about__card:last-child{
    background-image: none;
    min-height: 270px;
  }

  .cardholder:last-child {
    display: flex;
    flex-direction: column;
    min-height: 555px;
    gap: 0;
  }

  .card__title {
    margin-top: 12px;
    width: 100%;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.01em;
  }

  .card__descr {
    width: 290px;
    height: auto;
    margin-top: 4px;
    font-size: 14px;
    line-height: 200%;
  }

  .card__descr:first-child {
    min-height: 140px;
  }

  .card__descr:last-child {
    min-height: 168px;
  }
}
